<li class="als-item">

  <a href="{{url}}" target="_next">
    <img src="{{image_url}}">
  </a>

  <span>
    <a href="{{url}}">{{title}}</a>
    <p>
      {{ellipsized_description}}
    </p>
  </span>

</li>
