<li class="als-item">

  <a href="{{url}}" target="_next">
    <div class="extern-service-logo">
      <img src="{{extern_service.logo_url}}">
    </div>
    <img src="{{image_url}}">
  </a>

  <span>
    <a href="{{url}}">{{title}}</a>
    <p>
      {{ellipsized_description}}
    </p>
  </span>

</li>
